#!/usr/bin/env bash

{{ range .packages.tap -}}
brew tap {{ . }}
{{ end -}}

{{ range .packages.cask -}}
brew install --cask {{ . }}
{{ end -}}

{{ range .packages.brew -}}
brew install {{ . }} -q
{{ end -}}
