[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "home/.local/src/sbp"]
	path = home/.local/src/sbp
	url = git@github.com:brujoand/sbp
