[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "src/bash-git-prompt"]
	path = src/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt
[submodule "home/.local/src/sbp"]
	path = home/.local/src/sbp
	url = git@github.com:brujoand/sbp
