# ALIASES

# interactive
alias cp='cp -vi'
alias mv='mv -vi'

# Directory navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
 
# listings
alias ls='ls --color=auto'
alias ll='exa -lAFh'
alias lc='ls -aCF'
alias lm='ls -lAFh | more'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# kubernetes
alias kctl=kubectl
alias k=kubectl

# configuration shortcuts
alias bash_profile='vim ~/.dotfiles/home/.bash_profile && source ~/.dotfiles/home/.bash_profile'
alias bashrc='vim ~/.dotfiles/home/.bashrc && source ~/.dotfiles/home/.bashrc'
alias aliases='vim ~/.dotfiles/bash/.aliases && source ~/.dotfiles/home/.bashrc'
alias config='vim ~/.dotfiles/bash/.config && source ~/.dotfiles/home/.bashrc'
alias env='vim ~/.dotfiles/bash/.env && source ~/.dotfiles/home/.bashrc'
alias vimrc='vim ~/.dotfiles/.vimrc'
alias nvimrc='vim ~/.dotfiles/home/.config/nvim/init.vim'
